---
import Section from './Section.astro';
---

<Section
  title="PCCH-700"
  subtitle="Comodidad y estilo para tus partidas"
  color="white"
  price="PPDR 299.90 €"
  pt="pt-16"
  textSize="text-[40px]"
  img="/silla700/naconlogo.svg"
>
  <div slot="footer" class="pb-20 md:pb-10">
    <a
      class="border-[3px] backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="#buysection"
    >
      COMPRAR AHORA</a
    >
  </div>

  <img
    slot="background"
    class="object-cover h-full w-full opacity-50"
    src="/silla700/nacon700.png"
  />
</Section>
