---
import LongSection from './LongSection.astro';
---

<LongSection
  title="PCCH-700"
  subtitle="Diseño y confort para tu dia a dia"
  color="white"
  price="PVPR 299.99 €"
  pt="pt-10"
  textSize="text-[40px]"
  img="/silla700/naconlogo.svg"
>
  <article
    slot="main"
    class="text-gray-200 flex flex-col items-center justify-center"
  >
    <div
      class="flex flex-col lg:flex-row justify-around items-center gap-24 xl:gap-24 pt-10 pb-24 xl:pt-2 pb:4"
    >
      <img src="/silla700/1-700.png" class="w-60 xl:w-72" />
    </div>
  </article>

  <!-- <div slot="footer" class="pb-10 md:pb-10">
    <a
      class="border-[3px] backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="#buysection"
    >
      COMPRAR AHORA</a
    >
  </div> -->

  <img
    slot="background"
    class="object-cover h-full w-full opacity-50"
    src="/silla700/nacon700.png"
  />
</LongSection>
